// Milli colors
$water-blue: #0c96c4
$turtle-green: #74c34c
$mango: #f69d24
$ruby: #cb023f
$turquoise-blue: #01cacc
$charcoal-grey-two: #3a4147
$pale-grey: #f1f1f5
$pale-grey-two: #fafafb
$white: #ffffff
$bright-blue: #0062ff
$bluey-grey: #92929d

// Reassign bootstrap colors
$primary: $water-blue
$success: $turtle-green
$warning: $mango
$danger: $ruby
$info: $turquoise-blue
$dark: $charcoal-grey-two
$light: $pale-grey-two

// for signin/up, how rounded are the display corners
$auth-pane-border-radius-radius: 30px

$navbar-border-size: 1px
$navbar-height: calc(3.5em + $navbar-border-size) // magic, seems to be the height of the navbar (plus bottom border)
